.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialog img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a.activeLink {
    color: chocolate;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {

}