.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialog {

}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a.activeLink {
    color: chocolate;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {

}